---
layout: default
---
<section class="archive">
  <header class="page__header">
    <h1 class="page__title">{{ page.title }}</h1>
    <p class="page__subtitle">共 {{ site.posts | size }} 篇</p>
  </header>

  {% assign posts_by_year = site.posts | group_by_exp: "p", "p.date | date: '%Y'" %}
  {% for year in posts_by_year %}
    <section class="archive__year">
      <h2 class="archive__year-title">{{ year.name }}</h2>
      <ul class="archive__list">
        {% for post in year.items %}
        <li class="archive__item">
          <span class="archive__date">{{ post.date | date: "%m-%d" }}</span>
          <a class="archive__link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
          {% if post.categories.size > 0 %}
          <span class="archive__cat">{{ post.categories | join: ' / ' }}</span>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </section>
  {% endfor %}
</section>
