---
layout: page
type: article
---

{%- include snippets/assign.html
  target = site.data.variables.default.page.sharing
  source0=layout.sharing source1=page.sharing -%}
{%- assign _sharing = __return -%}

<div class="layout--article">
  {%- include article/top/custom.html -%}

  <div class="article__content" itemprop="articleBody">{{ content }}</div>

  {%- if _sharing -%}
    <section class="article__sharing d-print-none">{%- include sharing.html -%}</section>
  {%- endif -%}

  <div class="d-print-none">
    {%- include article-footer.html -%}
    {%- include article-section-navigator.html -%}
  </div>
  <!--Leancloud 操作库:-->
  <script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
  <!--Valine 的核心代码库:-->
  <script src='//unpkg.com/valine/dist/Valine.min.js'></script>
  <h2 id="comments">评论</h2>
  <div id="comments"></div>
  <script>
      new Valine({
          av: AV,
          el: '#comments',
          app_id:'RxhC0rvs3KyodDq0wO6SQKd1-gzGzoHsz',
          app_key:'9MMbphkBJuvvSuImethjLvCb',
          placeholder:'写写你的看法...',
          meta: ['nick','mail']
      });
  </script>

</div>

<script>
  {%- include scripts/article.js -%}
</script>
