---
layout: default
---
<section class="taxonomy">
  <header class="page__header">
    <h1 class="page__title">{{ page.title }}</h1>
  </header>

  {% assign cats = site.categories | sort %}
  <nav class="taxonomy__nav">
    {% for c in cats %}<a class="chip" href="#{{ c[0] }}">{{ c[0] }} <small>({{ c[1] | size }})</small></a>{% endfor %}
  </nav>

  {% for c in cats %}
    <section class="taxonomy__group" id="{{ c[0] }}">
      <h2 class="taxonomy__group-title">{{ c[0] }} <span class="taxonomy__count">{{ c[1] | size }}</span></h2>
      <ul class="archive__list">
      {% assign sorted = c[1] | sort: 'date' | reverse %}
      {% for post in sorted %}
        <li class="archive__item">
          <span class="archive__date">{{ post.date | date: "%Y-%m-%d" }}</span>
          <a class="archive__link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
        </li>
      {% endfor %}
      </ul>
    </section>
  {% endfor %}
</section>
