---
layout: default
---
<section class="taxonomy">
  <header class="page__header">
    <h1 class="page__title">{{ page.title }}</h1>
  </header>

  {% assign tags = site.tags | sort %}
  <nav class="taxonomy__nav taxonomy__nav--tags">
    {% for t in tags %}<a class="chip chip--tag" href="#{{ t[0] }}">#{{ t[0] }} <small>({{ t[1] | size }})</small></a>{% endfor %}
  </nav>

  {% for t in tags %}
    <section class="taxonomy__group" id="{{ t[0] }}">
      <h2 class="taxonomy__group-title">#{{ t[0] }} <span class="taxonomy__count">{{ t[1] | size }}</span></h2>
      <ul class="archive__list">
      {% assign sorted = t[1] | sort: 'date' | reverse %}
      {% for post in sorted %}
        <li class="archive__item">
          <span class="archive__date">{{ post.date | date: "%Y-%m-%d" }}</span>
          <a class="archive__link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
        </li>
      {% endfor %}
      </ul>
    </section>
  {% endfor %}
</section>
